<header class="main__header header">
    <div class="header__hamburger hamburger" type="button" aria-label="menu" aria-controls="navigation">
        <svg width="35" height="25" viewBox="0 0 35 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <rect width="35" height="3" rx="1.5" fill="currentColor"/>
            <rect y="11" width="35" height="3" rx="1.5" fill="currentColor"/>
            <rect y="22" width="35" height="3" rx="1.5" fill="currentColor"/>
        </svg>
    </div>
    <div class="header__controll"><a href="#">admin (вийти)</a></div>
</header>