<div class="content__block content__buttons">
    <a href="/add-project.html" class="btn btn-success">Додати проект</a>
    <a href="#" class="btn btn-warning">Керування тегами</a>
</div>
<div class="content__block content__portfolio portfolio">
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/02.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/02.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/04.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/03.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/03.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/02.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/02.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/03.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/04.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio__item project">
        <div class="project__img">
            <a href="#">   
                <img src="img/projects/02.jpg" alt="">
            </a>
        </div>
        <div class="project__body">
            <div class="project__text">
                <div class="project__title"><a href="#">UA CASUAL - html layout  for online clothing store</a></div>
                <div class="project__desc">Used technologies: Figma, HTML, CSS, JavaScript (jQuery)</div>
            </div>

            <div class="project__buttons">
                <a href="#" class="btn btn-primary">
                    <div class="icon"><img src="img/icons/edit.svg" alt=""></div>
                </a>
                <a href="#" class="btn btn-danger">
                    <div class="icon"><img src="img/icons/remove.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
</div>