<nav class="content__block content__tabs tabs">
    <ul>
        <li class="tabs__item is-active"><a href="#">UA</a></li>
        <li class="tabs__item"><a href="#">EN</a></li>
    </ul>
</nav>

<div class="content__block section message message-error">
    <div class = "message__body">
        <ul>
            <li>Помилка валідації 1</li>
            <li>Помилка валідації 2</li>
        </ul>
    </div>
</div>

<section class="content__block content__section section">
    <div class="section__header"><h2>SEO</h2></div>
    <div class="section__body">
        <form action="#" class="form">
            <div class="form__group">
                <label for="title">Заголовок title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="form__group">
                <label for="h1">Заголовок h1</label>
                <input type="text" name="h1" id="h1">
            </div>
            <div class="form__group">
                <label for="metadesc">Заголовок h1</label>
                <textarea name="metadesc" id="metadesc" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-success form__submit">Зберегти</button>
        </form>
    </div>
</section>