<div class="content__block content__buttons">
    <a href="/add-project.html" class="btn btn-success">Додати проект</a>
    <a href="#" class="btn btn-warning">Керування тегами</a>
</div>
<div class="content__block content__portfolio portfolio">
    @@include('_item-protfolio.html',{'img':'04.jpg'})
    @@include('_item-protfolio.html',{'img':'02.jpg'})
    @@include('_item-protfolio.html',{'img':'03.jpg'})
    @@include('_item-protfolio.html',{'img':'02.jpg'})
    @@include('_item-protfolio.html',{'img':'03.jpg'})
    @@include('_item-protfolio.html',{'img':'02.jpg'})
    @@include('_item-protfolio.html',{'img':'04.jpg'})
    @@include('_item-protfolio.html',{'img':'03.jpg'})
    @@include('_item-protfolio.html',{'img':'04.jpg'})
</div>