<aside class="sidebar">
    <div class="sidebar__wrapper">
        <div class="sidebar__content">
            <div class="sidebar__logo logo">
                <div class="logo__img"><img src="assets/admin/img/logo.svg" alt=""></div>
                <span class="logo__label">Portfolio</span>
            </div>
            <nav class="sidebar__nav navigation">
                <ul>
                    <li class="navigation__item is-active">
                        <a href="/index.html"><div class="icon">
                            <img src="assets/admin/img/icons/settings.svg" alt=""></div> 
                            <span class="navigation__label">Налаштування</span>
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="/portfolio.html"><div class="icon">
                            <img src="assets/admin/img/icons/portfolio.svg" alt=""></div>
                            <span class="navigation__label">Портфоліо</span> 
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>