@@include('parts/head.html')
<body>
    <div class="page">
        @@include('parts/sidebar.html')
        <main class="main">
            @@include('parts/header.html')
            <div class="container ">
                <div class="content">
                    <nav class="content__block content__tabs tabs">
                        <ul>
                            <li class="tabs__item is-active"><a href="#">UA</a></li>
                            <li class="tabs__item"><a href="#">EN</a></li>
                        </ul>
                    </nav>

                    <section class="content__block content__section section">
                        <div class="section__header">
                            <h2>Редагування проекту</h2>
                        </div>
                        <div class="section__body">
                            <form action="#" class="form">
                                <div class="form__group">
                                    <label for="title">Назва</label>
                                    <input type="text" name="title" id="title">
                                </div>
                                <div class="form__group">
                                    <label for="h1">Слаг</label>
                                    <input type="text" name="h1" id="h1">
                                </div>
                                <div class="form__group">
                                    <label for="h1">Посилання на сайт</label>
                                    <input type="text" name="h1" id="h1">
                                </div>
                                <div class="form__group">
                                    <label for="metadesc">Опис</label>
                                    <textarea name="metadesc" id="metadesc" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form__group form__group-row">
                                    <label for="image">Зображенния</label>
                                    <input type="file" name="image" id="image">
                                </div>
                                <div class="form__group form__group-row">
                                    <button type="submit" class="btn btn-success form__submit">Зберегти</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>