@include keyframes("processing"){
    0% {
        color: $color_text_main;
    }
    50% {
        color: $color_yellow;
        text-shadow: $shadow_light;
    }
}

@include keyframes("fadeIn"){
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
