@import "libs/swiper";
@import "libs/normalize";
@import "libs/hamburgers/hamburgers";

@import "common/vars";
@import "common/utils";
@import "common/fonts";
@import "common/anim";

$md0: 1530;
$md1: 1400;
$md2: 1000;
$md3: 900;
$md4: 768;
$md5: 670;
$md6: 480;
$md7: 350;

@import "common/ui";
@import "parts/header";
@import "parts/main";
@import "parts/section-portfolio";
@import "parts/section-services";
@import "parts/section-about";
@import "parts/section-contact";
@import "parts/modal";