@import "libs/_normalize";
@import "hamburgers/hamburgers";

@import "_vars";
@import "_utils";
@import "_fonts";

$md0: 1530;
$md1: 1400;
$md2: 1000;
$md3: 900;
$md4: 768;
$md5: 670;
$md6: 480;
$md7: 350;

@import "_ui";
@import "_header";
@import "_main";
@import "_section-portfolio";
@import "_section-services";
@import "_section-about";
@import "_section-contact";
@import "_modal";