body {
    font-family: $font_family;
    font-size: 16px;
    color: $color_text;
}

a {
    color: $color_text;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

select {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: 16px;
    line-height: 150%;
}

.page {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $color_white;
    background: $color_white;
    box-shadow: $shadow_button;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;

    &-primary {
        background: $color_primary;

        &:hover {
            background: lighten($color_primary, 12%);
        }
    }

    &-success {
        background: $color_succsess;

        &:hover {
            background: lighten($color_succsess, 5%);
        }
    }

    &-warning {
        background: $color_warning;

        &:hover {
            background: lighten($color_warning, 8%);
        }
    }

    &-danger {
        background: $color_danger;

        &:hover {
            background: lighten($color_danger, 6%);
        }
    }
}

.tabs {
    ul {
        display: flex;
    }

    &__item {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: $color_text;
        font-weight: bold;
        box-shadow: $shadow_layout;

        a {
            display: block;
            border-radius: 5px;
            color: $color_text;
        }

        &.is-active,
        &:hover {
            a {
                color: $color_white;
                background: $color_primary;
            }
        }
    }
}

.form {
    label {
        display: block;
        margin: 0 0 0 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 2px;
        margin: 5px 0 0 0;
        width: 100%;
        padding: 5px;
    }

    input[type="file"] {
        margin: 0 auto;
        margin: 5px auto 0 auto;
    }

    &__group {
        margin: 20px 0 0 0;

        &-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &__submit {
        align-self: center;
        margin: 30px auto 0 auto;
        min-width: 280px;

        @media (max-width: $md6+px) {
            min-width: initial;
            padding: 10px 20px;
        }
    }
}

.table {
    width: 100%;
    border-spacing: 0;
    th {
        text-align: left;
    }
    
    th, td{
        border-bottom: 1px solid #ddd;
        padding: 10px;
        vertical-align: top;

        &.actions {
            text-align: right;
        }
    }

    tbody {
        box-sizing: border-box;
    }
}

select {
    padding: 5px;
    margin: 5px;
}

.dropdown {
    position: relative;

    &, &__toggle {
        align-self: center;
        display: inline-flex;
        align-items: flex-end;
        flex-wrap: wrap;
        cursor: pointer;
    }

    &.is-active{
        .dropdown__list{
            visibility: visible;
            opacity: 1;
        }
    }

    &__list {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 200;
        transform: translateY(100%) translateY(10px);
        background: rgb(255, 255, 255);
        border-radius: 3px;
        box-sizing: border-box;
        box-shadow: $shadow_layout;
    }

    &__item {
        white-space: nowrap;
        color: black;

        a{
            display: block;
            padding: 5px 10px;
            color: $shadow_layout;
            font-size: 16px;

            &:hover{
                background: $color_primary;
                color: white;
            }
        }
    }
}
