$color_primary:  #0C3D68;
$color_succsess:  #00B998;
$color_warning: #E9A363;
$color_danger: #ED6060;
$color_text: #353535;
$color_white: #ffffff;
$color_main_bg: #F1F1F1;

$shadow_layout:  0px 0px 25px rgba(0, 0, 0, 0.1);
$shadow_button: 1px 0px 1px rgba(0, 0, 0, 0.2), -1px 0px 1px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.35);