@import "libs/_normalize";

$md1: 1600;
$md2: 1400;
$md3: 1170;
$md4: 992;
$md5: 768;
$md6: 670;
$md7: 480;
$md8: 350;

@import "_vars";
@import "_utils";
@import "_fonts";
@import "_ui";

.page {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: $md2 + px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: $md4+px) {
        padding: 0 15px;
    }

    @media (max-width: $md6+px) {
        padding: 0;
    }
}

.header-parent {
    min-height: 95px;

    @media (max-width: $md4+px) {
        min-height: 75px;
    }
}

.sidebar {
    background: black;
    background: linear-gradient(
            180deg,
            #000000 6.27%,
            rgba(0, 0, 0, 0.2) 43.75%,
            rgba(0, 0, 0, 0.2) 64.58%,
            #000000 100%,
            #000000 100%
        ),
        #0f4c81;
    max-width: 295px;
    width: 100%;
    transition: max-width 0.4s;

    &.is-active {
        max-width: 80px;

        .navigation__label,
        .logo__label {
            display: none;
        }
    }

    @media (max-width: $md4+px) {
        &:not(.is-active) {
            max-width: 80px;
            .navigation__label,
            .logo__label {
                display: none;
            }
        }

        &.is-active {
            max-width: 295px;
            .navigation__label,
            .logo__label {
                display: block;
            }
        }
    }

    @media (max-width: $md7+px) {
        &:not(.is-active) {
            max-width: 0px;
            .navigation__label,
            .logo__label {
                display: none;
            }
        }

        &.is-active {
            max-width: 250px;
            .navigation__label,
            .logo__label {
                display: block;
            }
        }
    }

    .logo {
        @extend .header-parent;
        display: flex;
        align-items: center;

        &__img {
            padding: 15px;

            @media (max-width: $md7+px) {
                padding: 5px;
            }
        }

        &__label {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            font-weight: bold;
            color: #ffffff;
            margin: 0 60px 0 0;
        }
    }

    &__nav {
    }
}

.navigation {
    &__item {
        a {
            display: flex;
            align-items: center;
            padding: 15px 0;
            color: $color_white;

            .icon {
                padding: 0 30px;

                @media (max-width: $md7+px) {
                    padding: 0 20px;
                }
            }
        }

        &.is-active,
        &:hover {
            a {
                background: $color_primary;
                font-weight: bold;
            }
        }
    }
}

.main {
    flex: 1 1 auto;
    width: 100%;
    background: $color_main_bg;
}

.header {
    @extend .header-parent;
    background: $color_white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    @media (max-width: $md4+px) {
        padding: 0 15px;
    }

    &__hamburger {
        cursor: pointer;
    }

    &__controll {
        a {
            color: $color_primary;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: $md7+px) {
        min-width: 100vw;
    }

    &__block {
        margin: 60px 0 0 0;

        @media (max-width: $md3+px) {
            margin: 30px 0 0 0;
        }

        @media (max-width: $md6+px) {
            margin: 15px 0 0 0;
        }
    }

    &__tabs {
        @extend .content__block;

        ul {
            width: 100%;
            justify-content: center;
        }

        .tabs__item {
            margin: 0 15px;

            @media (max-width: $md6+px) {
                margin: 0 10px;
            }

            a {
                padding: 15px 30px;

                @media (max-width: $md6+px) {
                    padding: 5px 15px;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .btn {
            min-width: 280px;
            max-width: 100%;
            text-align: center;
            margin: 10px 30px;

            @media (max-width: $md3+px) {
                min-width: 150px;
            }
        }
    }
}

.section {
    border-radius: 10px;
    background: $color_white;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    box-shadow: $shadow_layout;
    width: 70%;

    @media (max-width: $md1+px) {
        width: 100%;
    }

    @media (max-width: $md6+px) {
        border-radius: 0;
    }

    &__header {
        border-bottom: 1px solid #c4c4c4;
        padding: 25px 30px;
        box-sizing: border-box;

        @media (max-width: $md7+px) {
            text-align: center;
        }

        h2 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: default;
        }
    }

    &__body {
        padding: 10px 30px 40px 30px;

        @media (max-width: $md6+px) {
            padding: 10px 10px 40px 10px;
        }
    }

    .form {
        width: 100%;
    }
}

@import "_portfolio";
