@import "libs/_normalize";

$md1: 1600;
$md2: 1400;
$md3: 1170;
$md4: 992;
$md5: 768;
$md6: 670;
$md7: 480;
$md8: 350;

@import "_vars";
@import "_utils";
@import "_fonts";
@import "_ui";

@import "_part-main";
@import "_part-sidebar";

@import "_page-portfolio";
