@import "libs/normalize";

$md1: 1600;
$md2: 1400;
$md3: 1170;
$md4: 992;
$md5: 768;
$md6: 670;
$md7: 480;
$md8: 350;

@import "common/vars";
@import "common/utils";
@import "common/fonts";
@import "common/ui";

@import "parts/part-main";
@import "parts/part-sidebar";
@import "parts/page-portfolio";
